# Data Preparation

In [1]:
# Necessary Imports

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Will add more imports here later

In [6]:
#pre-set file path
file_path = "../dataset/rental_prediction/Non-Landed Housing/"


#combining all into one file for non-landed
df1 = pd.read_csv(file_path+"1-5.csv")
df2 = pd.read_csv(file_path+"6-10.csv")
df3 = pd.read_csv(file_path+"11-15.csv")
df4 = pd.read_csv(file_path+"16-20.csv")
df5 = pd.read_csv(file_path+"21-23,25-26.csv")
df6 = pd.read_csv(file_path+"27-28.csv")

df_nonLanded = pd.concat([df1,df2,df3,df4,df5,df6], axis=0, join='inner')

df_nonLanded.to_csv(file_path+"Non-Landed.csv")

#didnt need to drop rows cause there is no dupe or null values


#df.head()

In [19]:
#pre-set file path
file_path2 = "../dataset/rental_prediction/Landed Properties/"
file_name2 = "/Landed Properties/"

#combining all into one file for landed
df1 = pd.read_csv(file_path2+"1-5.csv")
df2 = pd.read_csv(file_path2+"6-10.csv")
df3 = pd.read_csv(file_path2+"11-15.csv")
df4 = pd.read_csv(file_path2+"16-20.csv")
df5 = pd.read_csv(file_path2+"21-23,25-26.csv")
df6 = pd.read_csv(file_path2+"27-28.csv")

df_Landed = pd.concat([df1,df2,df3,df4,df5,df6], axis=0, join='inner')
df_Landed = df_Landed.drop(["No. of Bedroom(for Non-Landed Only)"],axis=1)
df_Landed.to_csv(file_path2+"Landed.csv")

#dropped the no of bedrooms as there was no data recorded

In [21]:
file_path3 = "../dataset/rental_prediction/Executive Condominiums/"
file_name3 = "/Executive Condominiums/"


df1 = pd.read_csv(file_path3+"16-20.csv")
df2 = pd.read_csv(file_path3+"21-23,25-26.csv")
df3 = pd.read_csv(file_path3+"27-28.csv")

df_EC = pd.concat([df1,df2,df3], axis=0, join='inner')
#df_EC = df_EC.drop(["No. of Bedroom(for Non-Landed Only)"],axis=1)
df_EC.to_csv(file_path3+"Executive Condominiums.csv")

In [14]:
# Check data types of columns
df_nonLanded.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 411059 entries, 0 to 10101
Data columns (total 9 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   S/N                                  411059 non-null  int64
 1   Building/Project Name                411059 non-null  object
 2   Street Name                          411059 non-null  object
 3   Postal District                      411059 non-null  int64
 4   Type                                 411059 non-null  object
 5   No. of Bedroom(for Non-Landed Only)  405289 non-null  object
 6   Monthly Gross Rent($)                411059 non-null  int64
 7   Floor Area (sq ft)                   411059 non-null  object
 8   Lease Commencement Date              411059 non-null  object
dtypes: int64(3), object(6)
memory usage: 31.4+ MB

In [15]:
df_Landed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28919 entries, 0 to 1809
Data columns (total 9 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   S/N                                  28919 non-null  int64
 1   Building/Project Name                28919 non-null  object
 2   Street Name                          28919 non-null  object
 3   Postal District                      28919 non-null  int64
 4   Type                                 28919 non-null  object
 5   No. of Bedroom(for Non-Landed Only)  24400 non-null  object
 6   Monthly Gross Rent($)                28919 non-null  int64
 7   Floor Area (sq ft)                   28919 non-null  object
 8   Lease Commencement Date              28919 non-null  object
dtypes: int64(3), object(6)
memory usage: 2.2+ MB

In [16]:
df_EC.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7250 entries, 0 to 405
Data columns (total 9 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   S/N                                  7250 non-null   int64
 1   Building/Project Name                7250 non-null   object
 2   Street Name                          7250 non-null   object
 3   Postal District                      7250 non-null   int64
 4   Type                                 7250 non-null   object
 5   No. of Bedroom(for Non-Landed Only)  7249 non-null   object
 6   Monthly Gross Rent($)                7250 non-null   int64
 7   Floor Area (sq ft)                   7250 non-null   object
 8   Lease Commencement Date              7250 non-null   object
dtypes: int64(3), object(6)
memory usage: 726.4+ KB

In [23]:
# Find out mean, median, standard deviation, etc
df_Landed.describe()

                S/N  Postal District  Monthly Gross Rent($)
count  28919.000000     28919.000000           28919.000000
mean    3203.348283        15.490577            7059.585048
std     2327.585726         5.961983            5090.737023
min        1.000000         1.000000             600.000000
25%     1205.500000        10.000000            4000.000000
50%     2822.000000        15.000000            5700.000000
75%     4853.000000        20.000000            8500.000000
max     9247.000000        28.000000          150000.000000

In [24]:
# Checks how many rows/columns are there
df_Landed.shape

(28919, 8)

## Check for null/empty values

In [ ]:
df.isnull().sum()

In [ ]:
# Change which columns to drop later
# And change the type of the column

df = df.drop(['block','street_name', 'month', 'remaining_lease'], axis=1)
df.head()

In [ ]:
df.keys()

In [ ]:
col = "resale_price"
df[col].hist()
plt.suptitle(col)
plt.show()

In [ ]:
# Remove month, storey_range column later
df = pd.get_dummies(df, columns=['town','flat_type', 'storey_range', 'flat_model'])
df.head()

In [ ]:
df.shape

# Training Model - Regression
- We will test the training of model first.

In [ ]:
X = df.drop(['resale_price'], axis=1)
y = df['resale_price']

print(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
reg = LinearRegression()

In [ ]:
reg.fit(X_train,y_train)

In [ ]:
test = reg.predict(X_test)
print(test)